* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: "Roboto", sans-serif; */
}
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.social {
	display: flex;
	justify-content: space-around;
	gap: 10%;
}
